<a href="{{@blog.url}}/rss/"><i class="fa fa-rss-square"></i><span class="hidden">Subscribe</span></a>
<a href="https://twitter.com/patrick91"><i class="fa fa-twitter-square"></i><span class="hidden">Twitter</span></a>
